<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .active{
          background-color: pink"
      }
    </style>  
  </head>
  <body>
      <a class="list-group-item clearfix" [routerLink]="[receipeid]" routerLinkActive="active">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{receipe.name}}</h4>
            <p class="list-group-item-text">{{receipe.description}}</p>
          </div>
          <span class="pull-right">
            <img src="{{receipe.imgpath}}" alt="" class="img-responsive" style="max-height:50px">
          </span>
        </a> 
        
  </body>
